.details__group {
	margin: 0 !important;

	.segment {
		flex: 1 0 !important;
		padding: 18px;

		&:first-child {
			display: flex !important;
			justify-content: center;
			align-items: center;
		}
	}
}
