// get sorted naming
.header {
	margin-top: 50px !important;
}

.card_image {
	height: 220px;
	overflow: hidden;
	position: relative;

	.actual {
		height: 100% !important;
		width: 100%;
		object-fit: cover;
	}
}
