.main-header {
	margin-top: 50px !important;
}

.subsearch {
	display: flex;
	justify-content: space-between;
	padding: 4px;
	margin-top: 12px;
}

.card_image {
	height: 220px;
	overflow: hidden;
	position: relative;

	.actual {
		height: 100% !important;
		width: 100%;
		object-fit: cover;
	}
}
